<!DOCTYPE html>
<html>
<head>
  <title>Cosby</title>
  <%= stylesheet_link_tag    "cosby/application", :media => "all" %>
  <%= javascript_include_tag "cosby/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
